[Unit]
Description=KDhome
After=networking.service

[Service]
Type=simple
ExecStart=/usr/local/bin/kdhome.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
