[Unit]
Description=KDhome input->output connector
Requires=kdhome.service

[Service]
Type=simple
ExecStart=/usr/local/bin/kdhome_connector.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
